ТЗ:
_____________
Разработать программу, позволяющую шифровать и расшифровывать текст с использованием шифра Цезаря.
Программа должна поддерживать несколько режимов работы, обеспечивать обработку больших файлов и иметь валидацию входных данных.
Опционально можно добавить графический интерфейс пользователя,
а также статистический анализ для автоматического взлома шифра.
_____________

Основные задачи:

Реализация шифра Цезаря:
Создание и использование алфавита.
Алгоритм сдвига символов в соответствии с заданным ключом.

Обработка файлов:
Функциональность для работы с файлами (чтение, запись).
Обработка больших текстовых файлов.

Валидация входных данных:
Проверка существования файлов.
+Допустимость ключей.
____________

Режимы работы:

Шифрование текста:
-принять файл с исходным текстом
-принять ключ шифрования
-валидация наличия файла по указанному адресу
-валидация корректности ключа 0 и до (размер алфавита - 1) (или взять остаток от деления на размер алфавита).
-зашифровать текст
-создать новый файл с результатом шифрования

Расшифровка текста:
-принять файл с зашифрованным текстом
-принять адрес куда писать расшифрованный файл
-принять ключ
-валидация наличия файла и корректности ключа
-расшифровать текст
-создать новый файл с результатом расшифровки

Расшифровка методом brute force (перебором всех возможных сдвигов):
-принять файл с зашифрованным текстом
-валидация наличия файла
-(опционально) адрес файла с текстом который является примером текста что был зашифрован (например другой труд того же автора)
-расшифровать текст всеми возможными ключами
-создать новый файл с результатом расшифровки

Расшифровка методом статистического анализа (опционально):
На входе тоже самое что и для расшифровке перебором.
Разработка алгоритма статистического анализа для автоматической расшифровки без ключа, используя особенности языка.

Разработка интерфейса пользователя:
Текстовое меню или (опционально) графический интерфейс

___________
Дополнительные задачи:

Обработка ошибок и исключений.
Оптимизация для производительности.
Документация и тестирование. - не нужно
__________
DOD
__________
Программа работает в следующих режимах:

Шифровка текста
Расшифровка текста с помощью ключа
Расшифровка текста с помощью brute force (перебор всех вариантов)
(дополнительно) Расшифровка с помощью статистического анализа текста

Программа имеет графический интерфейс или текстовое меню
Программа может работать с большими файлами
Программа выполняет валидацию данных